<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item (click)="openPage('tabs/settings/bank-accounts')">
      <ion-label>Connected bank accounts</ion-label>
    </ion-item>

    <ion-item>
      <ion-select (ionChange)="saveCurrency($event)" label="Currency" [value]="$currency" interface="popover" placeholder="Select currency">
      <ion-select-option value="EUR">EUR (€)</ion-select-option>
      <ion-select-option value="USD">USD ($)</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
